################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EAI.Template/v15/Server/sqlite3
/.vs/EAI.Template/v15
